*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}
.colors{
  display: flex;
  gap: 24px;
  margin: 50px auto;
  justify-content: center;
}
.black{
  width: 100px;
  height: 100px;
  background: #252F40;
}
.gray{
  width: 100px;
  height: 100px;
  background: #71767f;
}
.white{
  width: 100px;
  height: 100px;
  background: #e9eaeb;
}
.general:hover{
  border: 5px solid blue;
}
body{
  background-color: rgb(156, 238, 211);
}
.container{
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 95%;
  height: 1024px;
  background: #FFFFFF;
  border-radius: 48px;
}

.header{
  margin: 70px;
  display: flex;
  justify-content: space-between;
}
.logo{
  margin-top: 74px;
  margin-left: 131px;
}
.search{
  margin-top: 74px;
  margin-right: 131px;
}
ul{
  margin-top: 74px;
  display: flex;
  gap: 50px;
  margin-left: 131px;
}

.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 48px;
  margin-top: 180px;
  top: calc(50% - 539.5px/2 - 0.25px);
  
}
.photo{
  width: 453.29px;
 
}

.photo img{
  width: 100%;
}
.connection{
  font-family: 'Sharp Grotesk' , sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: #252F40;
}
.oops{
 width: 40%;
  font-family: 'Sharp Grotesk' , sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: rgba(37, 47, 64, 0.5);
}
.btn{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  width: 201px;
  height: 49px;
  background: #252F40;
  border-radius: 20px;
}
.btn:hover{
  background-color: darkgrey;
}
.at_all{
  margin-top: 80px;
}
.btn_add{
  width: 201px;
}
.btn_ad{
  width: 181px;
}
@media(max-width:1182px){
  .header ul{
    display: none;
  }

  .connection{
    font-size: 40px;
  }
  .photo{
    width: 300px;
  }
  .oops{
    width: 390px;
  }
}